<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    flex-direction: column;
  }
</style>

<main class="main">
  <div class="">
    {{ title }}
  </div>
  <div class="">{{ isComplete ? "Completed" : "Not Completed" }}</div>

  <div class="">
    <button (click)="completeTask()">Complete Task</button>
    <button (click)="updateTitle('New Title')">Update Title</button>
  </div>

  <div class="">
    @if (isComplete) {
    <p>This task is complete</p>
    } @else {
    <p>This task is not complete</p>
    }
  </div>

  <ul>
    <!-- When Angular renders a list of elements with @for, those items can later change or move. Angular needs to track each element through any reordering, usually by treating a property of the item as a unique identifier or key. -->
    @for (fruit of fruitList; track fruit.name) {
    <li>{{ fruit.name }} - quantity {{ fruit.quantity }}</li>
    }
  </ul>
</main>

<router-outlet />
